<?xml version='1.0' encoding='UTF-8'?>
<robot name="Model_test">
  <link name="TEST1_arm1">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="TEST1_arm2">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="TEST2_arm1">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="TEST2_arm2">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="TEST3_arm1">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="TEST3_arm2">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="TEST4_arm1">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="TEST4_arm2">
    <inertial>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <link name="base_link">
    <inertial>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <material name="red"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.67 0.67 0.3 "/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </collision>
  </link>
  <joint name="TEST1_jointBase" type="fixed">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="base_link"/>
    <child link="TEST1_arm1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0 0.34 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="TEST1_joint1" type="revolute">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="TEST1_arm1"/>
    <child link="TEST1_arm2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0 0.68 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="TEST2_jointBase" type="fixed">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="base_link"/>
    <child link="TEST2_arm1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0 -0.34 0.0" rpy="0.0 0.0 3.141"/>
  </joint>
  <joint name="TEST2_joint1" type="revolute">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="TEST2_arm1"/>
    <child link="TEST2_arm2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0 0.68 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="TEST3_jointBase" type="fixed">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="base_link"/>
    <child link="TEST3_arm1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.34 0.0 0.0" rpy="0.0 0.0 -1.57"/>
  </joint>
  <joint name="TEST3_joint1" type="revolute">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="TEST3_arm1"/>
    <child link="TEST3_arm2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0 0.68 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="TEST4_jointBase" type="fixed">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="base_link"/>
    <child link="TEST4_arm1"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="-0.34 0.0 0.0" rpy="0.0 0.0 1.57"/>
  </joint>
  <joint name="TEST4_joint1" type="revolute">
    <limit effort="1.0" velocity="1.0" lower="-1.0" upper="1.0"/>
    <parent link="TEST4_arm1"/>
    <child link="TEST4_arm2"/>
    <axis xyz="1. 0. 0."/>
    <origin xyz="0.0 0.68 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <material name="red">
    <color rgba="0.969 0.129 0.122 1.   "/>
  </material>
</robot>
